@import url(./fonts/variable.css);

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: "Yekan Bakh", sans-serif;
}

.bg-pattern {
  background-image: url("./assets/images/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


@layer base {
  body {
    @apply text-white text-[20px] font-normal
  }
  :root {
    --radius: 0.5rem;
  }
}